/* ~ */

@font-face {
  font-family: "Poppins";
  src: url("font/Poppins-Regular.ttf");
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(247, 231, 255);
}

.cabecera {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas: "Logo Logo . . Inicio Sobre-mi Contacto";
  text-align: center;
}

.Logo {
  grid-area: Logo;
}

.Contacto {
  grid-area: Contacto;
}

.Sobre-mi {
  grid-area: Sobre-mi;
}

.Inicio {
  grid-area: Inicio;
}

.logo_cabecera {
  width: 300px;
  height: 300px;
}

.bienvenida {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 100px repeat(2, 1fr);
  gap: 30px 30px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . . ."
    ". Titulo Titulo ."
    ". Titulo Titulo ."
    ". Contactame DescargarCV ."
    ". Abajo Abajo ."
    ". . . .";
}

.Imagenes {
  grid-area: Imagenes;
  position: absolute;
  top: 90px;
}

.Titulo {
  grid-area: Titulo;
  line-height: 1;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
}

.boton {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-shadow: 2px 2px 2px #000000;
  color: white;
  border-radius: 20px;
  background-color: #f3abff;
}

.Contactame {
  grid-area: Contactame;
  justify-self: right;
}

.DescargarCV {
  grid-area: DescargarCV;
  justify-self: left;
}

.DescargarCV button {
  background-color: #393e46b6;
}

.Abajo {
  grid-area: Abajo;
  background-color: #f3abff;
  color: white;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 50%;
  font-size: 2em;
}

.resaltado {
  color: #f3abff;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 5%;
}

.QuienSoy,
.ComoTrabajo {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  border-radius: 50px;
}

.QuienSoy h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 100px;
  color: #132238;
  font-style: italic;
}

.QuienSoy p {
  font-size: 1.5em;
  color: black;
  width: 45%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  font-weight: 500;
}

.ComoTrabajo {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr 300px) 300px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    ". SobreComoTrabajo SobreComoTrabajo . . Busqueda Analisis ."
    ". SobreComoTrabajo SobreComoTrabajo . . Disenyo Desarrollo .";
  width: 70%;

  justify-items: center;
  align-items: center;
  padding: 30px;
}

.SobreComoTrabajo {
  grid-area: SobreComoTrabajo;
  color: #697484;
  font-size: 20px;
  width: 475px;
  font-weight: 600;
}

.Busqueda,
.Analisis,
.Disenyo,
.Desarrollo {
  height: 250px;
  box-shadow: 0 4px 2px -2px gray;
  padding: 25px;
  background-color: rgb(253, 250, 255);
  border-radius: 15%;
}

.ComoTrabajo h1 {
  font-size: 1.5em;
  text-align: left;
  padding-top: 5px;
  color: #132238;
}

.ComoTrabajo img {
  background-color: #edd8ff83;
  border-radius: 20%;
  padding: 20px;
}

.Busqueda {
  grid-area: Busqueda;
}

.Analisis {
  grid-area: Analisis;
}

.Disenyo {
  grid-area: Disenyo;
}

.Desarrollo {
  grid-area: Desarrollo;
}

.NavProyectos {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: 100px;
  gap: 0px 20px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.NavProyectos button {
  background-color: #393e4677;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000000;
}

.Proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 32px 32px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . .";
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-items: center;
}

.Proyecto {
  width: 300px;
  height: 300px;
  background-color: #e1b6ec50;
  border-radius: 20px;
  box-shadow: 0 4px 2px -2px gray;
}

.Proyecto h1 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 5px;
  color: #132238;
}

.Proyecto p {
  font-size: 1em;
  text-align: center;
  padding-top: 5px;
  color: #132238;
}

.Formulario {
  background-color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px;
  border-radius: 10%;
}

.Formulario label {
  font-weight: bold;
}

.Formulario input:not([type="submit"]) {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f8cfff44;
  margin: 2%;
}

.Formulario textarea {
  margin-top: 20px;
  resize: vertical;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f8cfff44;
  min-height: 100px;
  max-height: 500px;
}

/* ::placeholder {
  color: #a12fa583;
  font-weight: bold;
}

main::-webkit-scrollbar{
    display: none;
  }

@media (min-height: 30em) {
  main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
  }
}

section {
  position: relative;
  scroll-snap-align: center;
  min-height: 100vh;
  scroll-behavior: smooth;
}

@media (min-height: 30em) {
  section {
    height: 100vh;
  }
} */
